language: java
install: true

jdk:
  - openjdk8

script:
  - ./gradlew build -s

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -f  $HOME/plugin/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/plugin/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/plugin/.gradle/caches/
    - $HOME/plugin/.gradle/wrapper/
